.deck-container {
  padding: 16px;
  height: 80vh;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    225deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(170, 29, 253, 1) 50%,
    rgba(252, 196, 69, 1) 100%
  );
  position: relative;

  .title {
    position: absolute;
    top: 25%;
    left: 25%;
  }
}
